.header {
    padding: 10px 0;
    @media screen and (min-width: 768px) {
        padding: 15px 0;
    }
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.25s ease-in-out;
}

.header a {
    color: #000;
}

.bgWhite {
    background-color: #fff;
}

.navToggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" path stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"');
}

.navigation {
    > li {
        border-bottom: 1px solid #dfdfdf;

        &:last-of-type {
            border-bottom: none;
        }

        @media screen and (min-width: 992px) {
            border: none;
        }
    }
}
