.thumb__wrapper {
    position: relative;
    height: 300px;
    margin-bottom: 2rem;
}

.thumb__image {
    object-fit: cover;
}

.event_list__item {
    margin-bottom: 3rem;
    display: block;
}

.event_list__description {
    margin-bottom: var(--space-lg);
}
