.thumb__wrapper {
    position: relative;
    height: 300px;
    margin-bottom: 2rem;
}

.thumb__image {
    object-fit: cover;
}

.event_list__item {
    margin-bottom: 3rem;
    display: block;
}

.event_list__description {
    margin-bottom: var(--space-lg);
}

.eventsBox {
    background: #F9FAFB;
    padding-bottom: 1.25rem;
}

.eventDetailHeadingBox {
    background: #F9FAFB;
    padding-top: 100px;
    padding-bottom:50px;
}

.eventDetailHeadingBox span {
    padding: 0.5rem;
}

.eventDetailHeadingBox i {
    padding-right: 0.2rem;
    color: #FF794D;
}
