.thumb__wrapper {
    position: relative;
    height: 300px;
    margin-bottom: 2rem;
    border-radius: 10px;
    overflow: hidden;
}

.thumb__image {
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.event_list__item {
    margin-bottom: 4rem;
    display: block;

    &:hover {
        .thumb__image {
            transform: scale(1.1);
        }
    }

    p {
        color: #000;
    }
}

.event_list__description {
    margin-bottom: var(--space-lg);
}

.eventsBox {
    background: #f9fafb;
    padding-bottom: 1.25rem;
}

.eventDetailHeadingBox {
    background: #ddf1d3;
    padding: var(--space-lg);
    i {
        padding-right: 0.2rem;
        color: #ff794d;
    }
    span {
        padding: 0.5rem;
    }
}

.eventDetailSpeakerBox {
    background: #f9fafb;
    padding: 1.5rem 3rem
}

.speakerCard {
    text-align: center;
    border: 1px solid #e1ecf0;
    border-radius: 10px;
    background-color: #ffffff;
    /* margin-bottom: 3rem; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.speakerCardImg {
    width: 100%;
    min-height: 300px;
    background: center no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.speakerCardContent {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.speakerCardText {
    line-height: 30px;
    opacity: 0.8;
}
